.button {
  align-items: center;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 4px 8px;
  user-select: none;
}

.button:hover {
  background-color: var(--green-darker);
}

.button svg {
  margin-right: 4px;
}

.button--danger {
  background-color: var(--red);
}
