.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__icon-container {
  position: absolute;
  right: 4px;
  top: 4px;
}

.dropdown ul {
  background-color: #ffffff;
  border: 1px solid var(--primary);
  border-top: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown li {
  cursor: pointer;
  padding: 4px 2px;
}

.dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.dropdown__separator {
  background-color: var(--light-gray);
  height: 1px;
  margin: 0 8px;
}
