@import "~bootstrap/scss/bootstrap";

.tableCalls{
    tab-size: 90%;
    color: black;

}

.tableHeader{
    position: sticky; 
    top: 0;
}

.placeHold{
    margin-top: 95pt;
    width: max($numbers: 1);
    height: 180pt;
    overflow-y: auto;
}

.buttonGroup{
    margin-top: 20pt;
    margin-left: 65pt;
}

button{
    margin-left: 10pt;
}

.callendarSpace{
    background-color: chartreuse;
}

.container {
    justify-content: flex-start;
  }

.tableFixHead thead th { 
    position: sticky; 
    top: 0; 
    background-color: blueviolet; 
}