:root {
  --green: #98c23d;
  --green-darker: #4f9d3f;
  --light-gray: #cccccc;
  --lighter-gray: #f3f3f3;
  --primary: #8d63a6;
  --primary-darker: #5b2f76;
  --primary-lighter: #ada4d1;
  --red: #cc8066;
  --text: #24292e;
}

:root,
button,
input {
  font-family: system-ui;
  font-size: 13px;
  line-height: 15px;
}
